.PokeList {
    border: solid pink 1px;
    display: grid;
    // justify-content: center;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}